<section class="main book-form edit-book">
  <div class="inside clearfix">

    <%= styled_flash %>
    <div class="edit-form-container">
      <div class="edit-form-titlebar">
        <h2>Change Book Details</h2>
      </div>
      <div class="edit-form-content">
        <form id="edit-book-form" action="/books/<%= @book.id %>" method="post" enctype="multipart/form-data">
          <input type="hidden" name="_method" value="put" /> 
          <p class="gh-project"><strong>Project: </strong><%= @book.gh_full_name %></p>
          <div class="form-item">
            <label for="book-title" class="form-label required">Book Title:</label><br />
            <input type="text" id="book-title" name="book[title]" required placeholder="Your Grandma's Guide to Perl" value="<%=h @book.title %>" />
            <div class="msg book-title-msg"></div>
          </div>
          <div class="form-item">
            <label for="author" class="form-label required">Author:</label><br />
            <input type="text" id="author" name="book[author]" required placeholder="Leroy Jenkins" value="<%=h @book.author %>" />
            <div class="msg author-msg"></div>
          </div>
          <div class="form-item">
            <p id="license" class="form-label license-label">License:</p>
            <label for="cc-by">Attribution <a href="https://creativecommons.org/licenses/by/4.0" target="_blank"><small>See License Details</small></a></label>
            <input type="radio" class="radio" name="book[license]" id="cc-by" value="cc-by" <%= @book.license == 'cc-by' ? 'checked' : '' %> /><br/>
            <label for="cc-by-nd">Attribution-NoDerivs <a href="https://creativecommons.org/licenses/by-nd/4.0" target="_blank"><small>See License Details</small></a></label>
            <input type="radio" class="radio" name="book[license]" id="cc-by-nd" value="cc-by-nd" <%= @book.license == 'cc-by-nd' ? 'checked' : '' %> /><br/>
            <label for="cc-by-sa">Attribution-ShareAlike <a href="https://creativecommons.org/licenses/by-sa/4.0" target="_blank"><small>See License Details</small></a></label>
            <input type="radio" class="radio" name="book[license]" id="cc-by-sa" value="cc-by-sa" <%= @book.license == 'cc-by-sa' ? 'checked' : '' %> /><br/>
            <label for="cc-by-nc">Attribution-NonCommercial <a href="https://creativecommons.org/licenses/by-nc/4.0" target="_blank"><small>See License Details</small></a></label>
            <input type="radio" class="radio" name="book[license]" id="cc-by-nc" value="cc-by-nc" <%= @book.license == 'cc-by-nc' ? 'checked' : '' %> /><br/>
            <label for="cc-by-nc-sa">Attribution-NonCommercial-ShareAlike <a href="https://creativecommons.org/licenses/by-nc-sa/4.0" target="_blank"><small>See License Details</small></a></label>
            <input type="radio" class="radio" name="book[license]" id="cc-by-nc-sa" value="cc-by-nc-sa" <%= @book.license == 'cc-by-nc-sa' ? 'checked' : '' %> /><br/>
            <label for="cc-by-nc-nd">Attribution-NonCommercial-NoDerivs <a href="https://creativecommons.org/licenses/by-nc-nd/4.0" target="_blank"><small>See License Details</small></a></label>
            <input type="radio" class="radio" name="book[license]" id="cc-by-nc-nd" value="cc-by-nc-nd" <%= @book.license == 'cc-by-nc-nd' ? 'checked' : '' %> /><br/>
            <label for="other">Other</label>
            <input type="radio" class="radio" name="book[license]" id="other" value="Other" <%= @book.license == 'Other' ? 'checked' : '' %> /><br/>
            <span class="followup-q"><a href="#">How do I know which license to use?</a></span>
            <div class="other-options" style="<%=h @book.license == 'Other' ? '' : 'display: none;' %>">
              <label for"other-license">License Name: </label><br />
              <input type="text" id="other-license" name="book[license_name]" value="<%=h @book.license_name %>"/><br />
              <label for"other-license-url">Link to License: </label><br />
              <input type="url" id="other-license-url" name="book[license_url]" value="<%=h @book.license_url %>"/>
            </div>
          </div>
          <div class="form-item theme-options clearfix">
            <label for="selected-theme" class="form-label required">Theme:</label><br />
            <img src="/images/theme-glide-thumb.png" data-value="Glide" class="<%= @book.theme == 'Glide' ? 'highlighted' : '' %>" />
            <img src="/images/theme-epsilon-thumb.png" data-value="Epsilon" class="<%= @book.theme == 'Epsilon' ? 'highlighted' : '' %>" />
            <img src="/images/theme-hamilton-thumb.png" data-value="Hamilton" class="<%= @book.theme == 'Hamilton' ? 'highlighted' : '' %>" />
            <!-- see http://stackoverflow.com/questions/4178516/highlight-selected-image-in-form-with-jquery, on setting this up -->
            <input type="hidden" id="selected_theme" name="book[theme]" value="<%=h @book.theme %>" >
          </div>
          <div class="form-item">
            <input class="btn btn-primary" type="submit" value="Apply Changes" onclick="checkLicense()" />
          </div>
          <small class="required">* Required</small>
        </form>
      </div>
    </div>
    <div class="settings-container">
      <div class="settings-titlebar"><h2>Site Options</h2></div>
<% 
=begin %>
      <div class="settings-content">
        <% if domain_is_custom(@book) %>
          <h3>Change Custom Domain</h3>
          <p>You're using the domain <span class="custom-data"><%=h @book.domain %></span>. Change it again, or revert it back to the default path.</p>
          <div>
            <a class="btn settings-change-domain" href="/books/<%= @book.id %>/domain"><span class="btn-icon icon-rocket"></span>Change my Domain</a>
            <form id="domain-revert" class="domain-revert" action="/books/<%= @book.id %>" method="post" enctype="multipart/form-data">
              <input type="hidden" name="_method" value="put" />
              <input type="hidden" id="domain" name="book[domain]" value=""/>
              <input id="domain-submit" class="btn" type="submit" value="Revert Domain" />
            </form>
          </div>
          <p><small>Reverting your domain will make your site accessible at <span class="custom-data"><%= @book.github_pages_url %></span></small></p>
        <% else %>
          <h3>Add a Custom Domain</h3>
          <p>Configure your site to use your own custom domain name.</p>
          <a class="btn" href="/books/<%= @book.id %>/domain"><span class="btn-icon icon-rocket"></span>Add a Domain</a>
        <% end %>
      </div>
<% 
=end %>
      <!-- This feature is on our list -->
      <!--
      <div class="settings-content">
        <h3>Customize your Theme</h3>
        <p>Change the look and feel of your site, by uploading your own custom CSS. This will be loaded along with the theme's default styling.</p>
        <a class="btn" href="#"><span class="btn-icon icon-brush"></span>Upload CSS</a>
      </div>
      -->
      <div class="settings-content">
        <h3>Download your Site</h3>
        <p>Download a .zip archive containing a copy of your site.</p>
        <a class="btn" href="<%= @book.github_url %>/archive/gh-pages.zip"><span class="btn-icon icon-download3"></span>Download</a>
      </div>
      <!-- This feature is on our list -->
      <!--
      <div class="settings-content">
        <h3>Print and Sell your Book</h3>
        <p>You can publish physical copies of your book to be sold through online retailers, and take home the profits!</p>
        <a class="btn" href="#"><span class="btn-icon icon-book2"></span>Tell me more</a>
      </div>
      -->
      <div class="settings-content">
        <h3>Delete your Site</h3>
        <p>Delete your Bitbooks generated site.</p>
        <p class="warning">Careful! This action cannot be reversed!</p>
        <div><%= delete_book(@book.id) %></div>
        <p><small>Clicking this button will delete the gh-pages branch from the <span class="custom-data"><%= @book.gh_full_name %></span> repository, including the site generated by Bitbooks. The master branch will not be deleted.</small></p>
      </div>
    </div>
  </div>
</section>