<section class="main book-form edit-book">
  <div class="inside">

    <%= styled_flash %>
    <div class="form-container">
      <h1>Change Book Details</h1>
      <form id="edit-book-form" action="/books/<%= @book.id %>" method="post" enctype="multipart/form-data">
        <input type="hidden" name="_method" value="put" /> 

        <div class="form-item">
          <h3>Which Github Project contains the content for your book?</h3>
          <label for="select_element">Github Project*:</label><br />
          <select name="book[github_url]" id="select_element" required>
            <option value="http://github.com">Option 1</option>
            <option value="http://github.com/bryanbraun">Option 2</option>
            <option value="http://github.com/bryanhirsch">Option 3</option>
          </select>
        </div>
        <!-- rest of form -->
        <div class="form-item"> <!-- Consider breaking this form up into multiple steps if that makes it more digestable... this URL field may be a good first step. -->
          <label for="site-url">Site URL*:</label><br />
          <div class="site-url-wrapper"><span class="site-url">http://<input type="text" class="url-field" name="book[subdomain]" id="site-url" placeholder="mysite" required>.bitbooks.cc</span></div><br />
          <div class="success"><span class="icon-checkmark"></span>A fine choice.</div>
          <div class="failure"><span class="icon-cross"></span>Whoops. That name's already taken.</div>
          <div class="msg site-url-msg"></div>
          <span class="followup-q"><a href="#">What if I want to use my own custom domain?</a></span>
        </div>
        <div class="form-item">
          <label for="book-title">Book Title*:</label><br />
          <input type="text" id="book-title" name="book[title]" required placeholder="Your Grandma's Guide to Perl" value="<%= @book.title %>" />
          <div class="msg book-title-msg"></div>
        </div>
        <div class="form-item">
          <label for="author">Author*:</label><br />
          <input type="text" id="author" name="book[author]" required placeholder="Leroy Jenkins" value="<%= @book.author %>" />
          <div class="msg author-msg"></div>
        </div>
        <div class="form-item">
          <label for="cover-image">Cover Image:</label><br />
          <input type="file" id="cover-image" name="book[cover_image]" class="file" value="<%= @book.cover_image %>" accept="image/gif, image/jpeg, image/pjpeg, image/png" /><br />
          <span class="followup-q">Accepted file types: JPG, GIF, & PNG. Maximum filesize: 2MB</span>
          <div class="image-invalid"></div>
        </div>
        <div class="form-item">
          <h4>License</h4>
          <label for="cc-by">Attribution</label>
          <input type="radio" class="radio" name="book[license]" id="cc-by" value="cc-by" /><br/>
          <label for="cc-by-nd">Attribution-NoDerivs</label>
          <input type="radio" class="radio" name="book[license]" id="cc-by-nd" value="cc-by-nd" /><br/>
          <label for="cc-by-sa">Attribution-ShareAlike</label>
          <input type="radio" class="radio" name="book[license]" id="cc-by-sa" value="cc-by-sa" /><br/>
          <label for="cc-by-nc">Attribution-NonCommercial</label>
          <input type="radio" class="radio" name="book[license]" id="cc-by-nc" value="cc-by-nc" /><br/>
          <label for="cc-by-nc-sa">Attribution-NonCommercial-ShareAlike</label>
          <input type="radio" class="radio" name="book[license]" id="cc-by-nc-sa" value="cc-by-nc-sa" /><br/>
          <label for="cc-by-nc-nd">Attribution-NonCommercial-NoDerivs</label>
          <input type="radio" class="radio" name="book[license]" id="cc-by-nc-nd" value="cc-by-nc-nd" /><br/>
          <label for="other">Other</label>
          <input type="radio" class="radio" name="book[license]" id="other" value="other" /><br/>
          <span class="followup-q"><a href="#">How do I know which license to use?</a></span>
          <div class="other-options" style="display: none;">
            <label for"other-name">License Name: </label><br />
            <input type="text" id="other-name" name="book[license]" /><br />
            <label for"other-url">Link to License: </label><br />
            <input type="url" id="other-url" name="book[license]"/><br />
            <span class="followup-q"><a href="#">Can I just release it into the Public Domain?</a></span>
          </div>
        </div>
        <div class="form-item theme-options clearfix">
          <label for="selected-theme">Theme*:</label><br />
          <img class="highlighted" src="/images/theme-glide-thumb.png" data-value="Glide" />
          <img src="/images/theme-epsilon-thumb.png" data-value="Epsilon" />
          <!-- see http://stackoverflow.com/questions/4178516/highlight-selected-image-in-form-with-jquery, on setting this up -->
          <input type="hidden" id="selected_theme" name="book[theme]" value="Glide" >
        </div>
        <div class="form-item">
          <input class="btn btn-primary" type="submit" value="Apply Changes" />
        </div>
      </form>
    </div>
  </div>
</section>